* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-colour: #151516;
  --text-colour: #fff;
  --title-font: 'Playfair Display', serif;
  --body-font: 'Josefin Sans', sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--bg-colour);
  color: var(--text-colour);
  overflow-x: hidden;
  line-height: 1.5;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-colour);
}

body::-webkit-scrollbar-thumb {
  background: var(--text-colour);
}

.scrollbar-track {
  background-color: var(--bg-colour);
}

.scrollbar-thumb {
  background-color: var(--text-colour);
  width: 0.25rem;
}

a {
  text-decoration: none;
  color: currentColor;
}

.mask {
  overflow: hidden;
}

.project-img-mask {
  pointer-events: none;
}

a,
.logo,
.hero-section {
  pointer-events: all;
}

#main-page {
  opacity: 0;
}

/* Intro --------------------- */

#intro {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  width: 8rem;
  height: 8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.loading-border {
  width: 8rem;
  height: 8rem;
  position: absolute;
  z-index: 5;
}

.loading-border-top {
  border-top: 4px solid var(--text-colour);
}

.loading-border-right {
  border-right: 4px solid var(--text-colour);
}

.loading-border-bottom {
  border-bottom: 4px solid var(--text-colour);
}

.loading-border-left {
  border-left: 4px solid var(--text-colour);
}

.loading-content {
  position: absolute;
  width: 7.5rem;
  height: 7.5rem;
  top: 4px;
  left: 4px;
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Logo-hover -------------- */

.hover-link {
  transition: all 0.3s ease-out;
}

.hover-link:hover {
  color: goldenrod;
}

/* Header ------------- */

header {
  background-color: lightcoral;
  position: relative;
}

.logo {
  left: 2rem;
  top: 2rem;
  position: fixed;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-family: var(--title-font);
  display: flex;
}

.logo-span {
  opacity: 0;
  transition: all 0.3s ease-out;
  transform: translateX(50px);
  pointer-events: none;
}

.logo-span.logo-text-fade {
  opacity: 1;
  transform: translateX(0px);
}

/* Hero --------------- */

.hero-section {
  margin-top: 8rem;
  height: 20rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--title-font);
}

.hero-img-mask {
  position: absolute;
  width: 80vw;
  height: 12rem;
  left: 10vw;
  top: 4rem;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: inherit;
}

.hero-text {
  font-size: 2rem;
}

.hero-text-mask,
.hero-text {
  z-index: 1;
}
.hero-text-mask {
  padding-bottom: 0.7rem;
}

/* Projects ------------------ */

.projects {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 475px;
  gap: 2rem;
}

.project-img-container {
  padding: 2rem;
}

.project-img-mask {
  width: 100%;
  height: 100%;
}

.project-img {
  width: 100%;
  height: 120%;
  object-fit: cover;
  object-position: center;
}

.project-text-container {
  height: 100%;
  width: 100%;
  padding: 2rem;
}

.project-text-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.project-text-h {
  padding-bottom: 1rem;
  font-family: var(--title-font);
  font-size: 1.5rem;
}

.project-text-p {
  font-family: var(--body-font);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.project-text-p i {
  padding: 1rem;
}

/* Details -------------- */
.details {
  width: 80vw;
  margin: 0 auto;
  padding-bottom: 8rem;
}

.divider-line {
  width: 80vw;
  height: 1px;
  margin: 0 auto;
  background-color: var(--text-colour);
}

.about,
.skills,
.contact {
  padding: 4rem 2rem;
}

.about-text h2,
.skills-text h2,
.contact-text h2 {
  font-family: var(--title-font);
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.about-text p,
.skills-text p,
.contact-text p {
  font-family: var(--body-font);
  font-size: 1rem;
}

/* Media Queries ---------------------- */

@media only screen and (min-width: 600px) {
  /* Hero --------------- */
  .hero-section {
    height: 24rem;
  }

  .hero-img-mask {
    height: 16rem;
  }

  .hero-text-container {
    width: 50%;
    margin-left: auto;
    align-items: flex-start;
  }

  .hero-text {
    font-size: 3rem;
  }

  /* Projects --------------- */
  .projects {
    grid-auto-rows: 550px;
    gap: 2rem;
  }

  .project-text-h {
    padding-bottom: 2rem;
    font-size: 2rem;
  }

  .project-text-p {
    font-size: 1.5rem;
  }

  /* Details ------------ */
  .about,
  .skills,
  .contact {
    padding: 6rem 2rem;
  }

  .about-text h2,
  .skills-text h2,
  .contact-text h2 {
    font-size: 2rem;
  }

  .about-text p,
  .skills-text p,
  .contact-text p {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 900px) {
  #main-page {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  /* Cursor ------------- */

  .cursor {
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    transition-property: background, width, height;
    z-index: 10;
    background: var(--text-colour);
    width: 5px;
    height: 5px;
    border-radius: 50%;

    mix-blend-mode: difference;
  }

  /* Hero --------------- */
  .hero-section {
    margin-top: 0;
    height: 100vh;
  }

  .hero-img-mask {
    height: 50vh;
    top: 25%;
  }

  .hero-text-container {
    height: 70%;
  }

  .hero-text {
    font-size: 5rem;
  }

  /* Projects ----------- */
  .projects {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 750px;
    grid-template-areas:
      'a b'
      'c d'
      'e f'
      'g h';
  }

  .project-grid-item:nth-child(1) {
    grid-area: a;
  }
  .project-grid-item:nth-child(2) {
    grid-area: b;
  }
  .project-grid-item:nth-child(3) {
    grid-area: d;
  }
  .project-grid-item:nth-child(4) {
    grid-area: c;
  }
  .project-grid-item:nth-child(5) {
    grid-area: e;
  }
  .project-grid-item:nth-child(6) {
    grid-area: f;
  }
  .project-grid-item:nth-child(7) {
    grid-area: h;
  }
  .project-grid-item:nth-child(8) {
    grid-area: g;
  }

  /* Details ------- */
  .details {
    padding-top: 8rem;
  }

  .about,
  .skills,
  .contact {
    padding: 8rem 2rem;
  }
}

@media only screen and (min-width: 1300px) {
  .hero-text-container {
    padding-left: 4rem;
  }

  .hero-text {
    font-size: 6rem;
  }

  .projects {
    grid-auto-rows: 100vh;
  }

  .project-text-container {
    padding: 4rem;
  }

  .about,
  .skills,
  .contact {
    width: 50%;
  }
}
